name: Deploy Keys' Wiki Site

on:
  push:
    branches: [main]
    paths: [arun-writes/**]
  workflow_dispatch:

jobs:
  build:
    name: Build Docusaurus
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: "npm"
          cache-dependency-path: ./arun-writes/package-lock.json

      - name: Install dependencies
        run: npm install --frozen-lockfile
        working-directory: ./arun-writes
      - name: Build website
        run: npm run build
        working-directory: ./keys-wiki-site

      - name: Upload Build Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./arun-writes/build

  deploy:
    name: Deploy to GitHub Pages
    needs: build

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
